.heroComponent {
  height: 70vh;
  overflow: hidden;
}

.heroText {
  animation: opacityText 2s linear 1s forwards;
  opacity: 0;
  position: absolute;
  top: 13rem;
  left: 0;
  right: 0;
}

.heroText > h1 {
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}
p {
  font-size: 1.5rem;
}

.heroText > .btn {
  background-color: #e16388;
  color: #effefe;
}

.heroImg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 95%;
  margin: auto;
  animation: slideImage 2s linear forwards;
}

@keyframes slideImage {
  from {
    height: 0vh;
  }
  to {
    height: 70vh;
  }
}

@keyframes opacityText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
