.login {
  height: 100vh;
  width: 100%;
}

.loginInfo {
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.loginInput {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.loginBtn > div {
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  font-weight: 900;
}
.loginBtn {
  border-color: #e16388 !important;
  background-color: #e16388;
}
.loginBtn {
  border-color: #e16388 !important;
  background-color: #e16388;
}

.login::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100;
  width: 100%;
  height: 100%;
  background: #ffdf79;
  transform-origin: 100%;
  z-index: 0;
  animation: skewYAnimation 1.2s linear forwards;
}

@keyframes skewYAnimation {
  from {
    transform: skewY(0deg);
  }

  to {
    opacity: 0;
    transform: skewY(90deg);
  }
}
