.navComponent {
  background-color: #fffefe;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
}

.navContainer {
  height: 4rem;
}
.navIcons {
  font-size: 1.4rem;
}

.navTitle {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.navLinks {
  font-size: 1.3rem;

  font-weight: 1000;
}

.dropdown-toggle::after {
  border: none;
}

.dropdown-menu {
  text-align: center;
  border: none;
  background-color: #fffefe;
  font-size: 1.3rem;

  font-weight: 1000;
}

.dropdown-item {
  font-size: 1.3rem;
  color: #e16388;
  font-weight: 1000;
}

.navbar-toggler {
  color: pink;
  border: none;
}

.navbar-toggler-icon {
  background-image: url("../../public/images/menuImg.png");
}

.bookLink {
}
