.navComponent {
  background-color: #fffefe;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navButton {
  border: none;
  cursor: pointer;

  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navContainer {
  height: 4rem;
  padding: 0 !important;
  margin: 0 !important;
}
.navLinkContainer {
  min-height: inherit;
}
.navIcons {
  font-size: 1.8rem;
}

.navTitle {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.navLink {
  font-size: 1.7rem;
  width: 100%;
  font-weight: 1000;
}

.dropdown-toggle::after {
  border: none;
}

.dropdown-menu {
  text-align: center;
  border: none;
  background-color: #fffefe;
  font-size: 1.3rem;

  font-weight: 1000;
}

.dropdown-item {
  font-size: 1.3rem;
  color: #e16388;
  font-weight: 1000;
}

.navbar-toggler {
  color: pink;
  border: none;
}

.navbar-toggler-icon {
  background-image: url("../../public/images/menuImg.png");
}

.sideNav {
  position: absolute;
  height: 100vh;
  top: 4rem;
  left: 0;
}
